*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Montserrat', sans-serif;
}
/*--------------nav-----------*/
header{
	width: 100%;
	background-color: #2c3e50;
	position: fixed;
	z-index: 1000;/*para que las imagenes no se superpongan en el nav*/
	/*display: inline-block;*/
	outline: 1px solid red;
}
.logo{
	float: left;
}
.logo a{
	display: block;
	padding: 20px;
	font-size: 33px;
}
nav{
	float: left;
}
nav ul{
	list-style: none;
	overflow: hidden;  /*limpiar errores de float*/
}
nav ul li{
	float: left;
}

nav ul li a{
	display: block;
	padding: 20px;
	text-decoration: none;
	color: white;
	outline: 1px solid red;
}

/*mismas caracteristicas de a*/
.logo a, .menu li a{
	color: white;
	text-transform: uppercase; /*MAYUSCULA*/
	font-weight: 700;/*grosor de letra*/

	
} 
/*
.logo{
	/*margin: 20px 0px 20px 150px ;
	width: 35%;
	display: inline-block;
	text-align: center;
	outline: 1px solid red;
	position: relative;
	left: 150px;
}

.logo a{
	margin: 30px 30px;
	font-size: 33px;
	outline: 1px solid black;
	text-align: center;

}
.menu{
	outline: 1px solid blue;
	width: 30%;
	display: inline-block;
	text-align: center;
	list-style: none; /*cero viñetas
	position: relative;
	left: 300px;
}
.menu li{
	display: inline-block;
	outline: 1px solid orange;
}


/*mismas caracteristicas de a
.logo a, .menu li a{
	color: white;
	text-transform: uppercase; /*MAYUSCULA
	font-weight: 700;/*grosor de letra
	text-decoration: none; 
	display: block;*/
}



header{
	margin-top: 200px;
	background-color: #18bc9c;
}